body{
    padding: 1rem;
    font-family: 'Montserrat', sans-serif !important;
}

.register-form{
    margin: 3rem;
    padding: 1rem;
}

.register-form .mid-form{
    margin: 1rem 0;
}

.register-form .btn{
    margin-top: 1rem;
    width: 100% !important;
}
